@font-face {
  font-family: 'Bebas Neue';
  src: url('../src/fonts/BebasNeue-Regular.ttf') format('truetype');
  /* Add additional src declarations for other font weights or styles */
  /* Example:
     src: url('path/to/fonts/BebasNeue-Bold.ttf') format('truetype');
  */
}

@font-face {
  font-family: 'Oswald';
  src: url('../src/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  /* Add additional src declarations for other font weights or styles */
  /* Example:
     src: url('path/to/fonts/BebasNeue-Bold.ttf') format('truetype');
  */
}



body {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  overflow-x: hidden;
  /* Specify other font properties like font-size, font-weight, etc. */
}
